// CSS Variables

:root {
    // gradient colors
    --light-purple: #cc2b5e;
    --dark-purple: #753A88;

}

// SASS Variables 
$light-purple: #cc2b5e;
$dark-purple: #753A88;

$color-black: #000000;
$color-white: #ffffff;

$color-invalid-form: #ff7730;