.todo {
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: #F7F7F7;
    box-shadow: 0 .4rem .8rem rgba($black, .6);

    &__header {
        padding: 1.5rem 1.2rem;
        height: 8rem;
        margin-bottom: 2rem;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
        border-bottom-right-radius: 1.3rem;
        border-bottom-left-radius: 1.3rem; 
        background-color: var(--forest-green);
        box-shadow: 0 2px 4px rgba($black, .2);
        position: relative;
    }

    &__title {
        font-size: $medium;
        color: #7acebc;
        margin-top: 5rem;
        text-align: center;
    }

    &__input {
        width: 100%;
        font-size: 1.7rem;
        height: 5rem;
        padding: 0 6rem 0 1rem;
        outline: none;
        border: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem; 
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
        color: white;
        background-color: var(--aqua-green);

        &::-webkit-input-placeholder {
            color: white;
        }
    }

    &__button {
        position: absolute;
        top: 1.4rem;
        right: 1.3rem;
    }

    &__container {
        width: 100%;
        padding: 0 1rem;
    }

    &__todo {
        width: auto;
        height: 5rem;
        padding-left: 1rem;
        padding-right: 9rem;
        color: #444040;
        font-family: 'Patua One';
        border: none;
        border-radius: .5rem;
        margin-bottom: 1rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 3px rgba($black, .2);
        position: relative;
    }

    &__todoText {
        font-size: 1.7rem;
    }

    &__button-container {
        width: 10.2rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__container button {
        width: 5rem;
        height: 100%;
        outline: none;
        border: none;
        background: transparent;
    }

    &__completed {
        position: relative;
    }

    &__completed::before {
        content: "";
        position: absolute;
        width: 2px;
        background-color: rgb(215, 225, 228);
        height: 3rem;
        left: 0;
        top: 1rem;
    }

    &__error {
        width: auto;
        border: 1px solid #AF4442;
        border-radius: 5px;
        background-color: rgb(241, 214, 214);
        color: #AF4442;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }


    //  SVGS STYLING

    &__header svg {
        fill: #25B999;
        transform: translate(12%, 22%);
    }

    &__remove svg path {
        fill: #E85656;
    }

    &__completed svg  { 
        border: 1.5px solid #25B999;
        border-radius: 10rem; 
    }

    &__completed svg:hover {
        border:none;
    }

    &__completed svg:hover rect {
        fill: #25B999;
    }
    &__completed svg:hover path {
        fill: white;
    }

    &__completed svg path {
        fill: #25B999;
    }
}

svg.svg--25 rect {
    fill: none;
}