.todo {

    background-color: #EDF0F1;

    &__form-group {
        padding: 1.5rem 1.2rem;
        height: 8rem;
        margin-bottom: 2rem;
        border-bottom-right-radius: 1.3rem;
        border-bottom-left-radius: 1.3rem; 
        background-color: rgba(37, 185, 153, 0.925);
        box-shadow: 0 2px 4px rgba($color-black, .2);
        position: relative;
    }

    &__input {
        width: 100%;
        font-size: 1.6rem;
        height: 5rem;
        padding-left: 1rem;
        outline: none;
        border: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem; 
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
        color: white;
        background-color: rgb(122, 206, 188);

        &::-webkit-input-placeholder {
            color: white;
        }
    } 

    &__button {
        width: 5rem;
        height: 5rem;
        outline: none;
        border: none;
        border-radius: 10rem;
        background-color: white;
        position: absolute;
        top: 1.4rem;
        right: 1.3rem;

    }

    &__container {
        width: 100%;
        padding: 0 1rem;
    }

    &__todo {
        width: 100%;
        height: 5rem;
        padding: 0 .5rem;
        border: 1px solid transparent;
        border-radius: .5rem;
        margin-bottom: 1rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba($color-black, .2);
    }
}